#logo {
    justify-self: left;
    margin-left: 5%;
    max-width: 50px
}
  
* {
    border: 0;
    box-sizing: border-box;
    font: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline
  }

.cep {
    background-color: rgba(236, 235, 235, 0.719);
    border-radius: 10px;
    font-size: 15px;
    margin-top: 20px;
    padding: .5em;
    text-decoration: none;
    width: 300px
}
  
.grid-container {
    display: grid;
    grid-template-areas: "header header header header" 
                          "nav nav nav nav"  
                          "section section section section" 
                          "section section section section" 
                          "section section section section" 
                          "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr)
}

.imagem {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 10px 8em 10px 0
}
  
.impactos {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    max-height: 100%;
    max-width: 100%;
    padding: 0 2em;
    text-align: justify
}

.row {
    align-items: flex-start;
    background-color: rgba(169, 169, 169, 0.055);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em
}

.texto {
    color: #797979;
    flex: 1;
    font-size: 18px;
    line-height: 2;
    padding: 3em 10em;
    text-align: justify
}

.texto-home {
    color: #527070;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 22px;
    justify-content: center;
    line-height: 2;
    padding: 3em 10em;
    text-align: justify
}

body {
    margin: 0;
    padding: 0
}

button a {
    color: inherit;
    text-decoration: none
}

footer {
    align-items: center;
    background-color: #527070;
    bottom: 0;
    color: #fff;
    display: flex;
    font-size: 16px;
    grid-area: footer;
    justify-content: center;
    left: 0;
    min-height: 1.8em;
    position: fixed;
    text-align: center;
    width: 100%
}

header {
    align-items: center;
    background-color: #527070;
    background-image: url(./assets/img/fundo1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    grid-area: header;
    min-height: 6em;
    width: 100%
}

header h1 {
    color: rgba(255, 255, 255, 0.8);
    flex-grow: 1;
    text-align: center
}

nav {
    background-color: rgba(82, 112, 112, 0.5);
    display: flex;
    grid-area: nav;
    justify-content: center;
    min-height: 2em;
    width: 100%
}

nav ul {
    display: flex;
    list-style: none
}

nav ul li a {
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none
}

nav ul li a:hover {
    background-color: #0000000c
}

section {
    display: flex;
    grid-area: section
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr)
    }

    .imagem,
    .imagem img {
        max-height: 90%;
        max-width: auto;
        padding: 0 2em
    }

    .impactos .imagem {
        align-items: center;
        display: flex;
        justify-content: center;
        order: 2;
        padding: 2em
    }

    .impactos .imagem img {
        border-radius: 10%;
        max-width: 100%
    }

    .impactos .row {
        align-items: center;
        flex-direction: column
    }

    .impactos .texto {
        order: 1;
        padding: 2em
    }

    .texto {
        flex: 0;
        padding: 0 2em
    }

    section {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr
    }

    .imagem {
        align-items: center;
        padding: 2em
    }

    .imagem img {
        align-items: center;
        border-radius: 10%;
        max-height: auto;
        max-width: 100%
    }

    .impactos .row {
        flex-direction: column
    }

    .texto {
        flex: 0;
        padding: 2em
    }

    header,
    body {
        position: fixed
    }

    section {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center
    }
}